data/models/classification_model/model-last/config.cfg
data/models/classification_model/model-last/meta.json
data/models/classification_model/model-last/tokenizer
data/models/classification_model/model-last/textcat/cfg
data/models/classification_model/model-last/textcat/model
data/models/classification_model/model-last/transformer/cfg
data/models/classification_model/model-last/transformer/model
data/models/classification_model/model-last/vocab/key2row
data/models/classification_model/model-last/vocab/lookups.bin
data/models/classification_model/model-last/vocab/strings.json
data/models/classification_model/model-last/vocab/vectors
data/models/classification_model/model-last/vocab/vectors.cfg
data/models/ner_model/model-last/config.cfg
data/models/ner_model/model-last/meta.json
data/models/ner_model/model-last/tokenizer
data/models/ner_model/model-last/ner/cfg
data/models/ner_model/model-last/ner/model
data/models/ner_model/model-last/ner/moves
data/models/ner_model/model-last/transformer/cfg
data/models/ner_model/model-last/transformer/model
data/models/ner_model/model-last/vocab/key2row
data/models/ner_model/model-last/vocab/lookups.bin
data/models/ner_model/model-last/vocab/strings.json
data/models/ner_model/model-last/vocab/vectors
data/models/ner_model/model-last/vocab/vectors.cfg
